body{
    background-color: #ffffff;
    margin:0;
    color:#000000;
    font-family: 'Montserrat', sans-serif;
    margin:0;
}
header{
    background-color: rgb(255, 255, 255);
    display:flex;
    flex-direction:column-reverse;
    align-items:left;
}
header>img{
    width:5rem;
    height: 20%;
    margin-top: 8rem;
    margin-left: 1rem;
}
header>h1{
    width:100%;
    text-align: left;
}
.logo{
    height:100px;
    width:90px;
    position:absolute;
    top:-7rem;
}
nav>a{
    color:#000000;
    text-decoration: none;
    display:block;
}
a>.photographs{
    font-size: large;
}
nav>a:hover{
    color:#70a172;
    text-decoration:underline;
}
section>h2{
    text-align: center;
    background-size:cover;
    margin:0;
    position:relative;
    border-bottom:2rem solid #ffffff;
    padding:23rem 0;
    font-size:3rem;
    background-position:center
}
section{
    background-color: #ffffff;
}
.landscapes>h2{
    background-image: url(images/land1.png);
}
.wildlife>h2{
    background-image: url(images/wildlife.png);
}
.subjectportrait>h2{
    background-image: url(images/portraits.png);
}
section span{
    position:absolute;
    top: 15rem;
    font-size: 2rem;
    left:48%;
    transform:rotate(180deg);
}
.accordion{
    cursor:pointer;
}
span.rotate{
    transform:rotate(0);
}
.gallery{
    display:none;
}
.gallery.show{
    display:block;
}
nav{
    position:absolute;
    top:15rem;
    left:1.5rem;
    font-size: larger;
}
header h1{
    font-family: 'Prompt', sans-serif;
    position:absolute;
    top:8rem;
    left:6rem;
}
p{
    font-size: larger;
    position:absolute;
    top: 28rem;
    padding: 2rem;
}
.info{
    position:absolute;
    left:1.5rem;
    top:30rem;
}
.about>h3{
    position:absolute;
    top:25rem;
}
form{
    background-color: #92b688;
    padding: 2rem;
    text-align: center;
    font-family: 'Montserrat';
    position:absolute;
    top: 45rem;
}
form>label{
    display:block;
    width:25rem;
}
.home{
    position:absolute;
    top:7rem;
}
nav .gallery{
    position:absolute;
    top:26rem;
}
section>h3{
    font-family:'Prompt';
    font-size: x-large;
    padding:2rem;
}
br{
    padding:2rem;
}
img{
    width: 29rem;
}
@media (min-width:455px){
    header h1{
        position:absolute;
        top:2rem;
        left:15rem;
    }
    nav{
        position:absolute;
        top:6rem;
        left:0.5rem;
    }
    .info{
        position:absolute;
        top:45rem;
    }
    form{
        position:absolute;
        top:60rem;
        width:97%;
        display:flex;
    }
    header>img{
        width:7rem;
        height:7rem;
        position:absolute;
        top:-7rem;
        left:7rem;
    }
    .logo{
        position:absolute;
        top:-7rem;
        left:0rem;
    }
    .home{
        position:absolute;
        top:8rem;
        left:0.5rem;
    }
    main{
        margin-top:18rem;
    }
}