body{
    background-color: #ffffff;
    margin:0;
    color:#000000;
    font-family: 'Montserrat', sans-serif;
    margin:0;
}
header{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction:column-reverse;
    align-items:left;
}
header>h1{
    position:fixed;
    top:2;
    left: 30%;
    width:100%;
    z-index:auto;
}
header>img{
    width: 20%;
    height: 20%;
}
.logo{
    position:fixed;
    top:0;
    height:100px;
    width:90px;
}
nav>a{
    color:#000000;
    text-decoration:none;
    padding: 1rem 2rem;
    font-weight:900;
    display: block;
    margin:1rem 1rem 1rem 1rem;
}
a>.photographs{
    font-size: large;
}
nav>a:hover{
    color:#504b4b;
    text-decoration:underline;
}
section>h2{
    text-align: center;
    padding: 13rem 0;
    background-size:cover;
    margin:0
}
section{
    background-color: #ffffff;
}
.landscapes>h2{
    background-image: url(images/land1.png);
}
.wildlife>h2{
    background-image: url(images/wildlife.png);
}
.subjectportrait>h2{
    background-image: url(images/portraits.png);
}
section span{
    position:absolute;
    top: 15rem;
    font-size: 2rem;
    left:48%
}
section>h2{
    position:relative;
}
.accordion{
    cursor:pointer;
}
section span{
    transform:rotate(180deg);
}
span.rotate{
    transform:rotate(0);
}
section>h2{
    border-bottom:2rem solid #ffffff;
}
.gallery{
    display:none;
}
.gallery.show{
    display:block;
}
section>h2{
    padding:23rem 0;
    font-size:3rem;
    background-position:center
}
section span{
    font-size:4rem;
    top:26rem;
    left:48%;
}
nav{
    position:absolute;
    top:2rem;
    left:1%;
}
h1{
    font-family: 'Prompt', sans-serif;
}
p{
    font-size: larger;
}
.info h1{
text-align: center;
}
