body{
    background-color: #ffffff;
    margin:0;
    color:#000000;
    font-family: 'Montserrat', sans-serif;
    margin:0;
}
header{
    background-color: rgb(255, 255, 255);
    display:flex;
    flex-direction:column;
    align-items:left;
}
header img{
    width:5rem;
    height: 20%;
    margin-left: 1rem;
    margin-right:0rem;
    margin-top:1rem;
    vertical-align: middle;
}
header h1{
    margin-top:-3rem;
    font-size:large;
}
.logo{
    height:40px;
    width:30px;
}
nav>a{
    color:#000000;
    text-decoration: none;
    display:block;
}
a>.photographs{
    font-size: large;
}
nav>a:hover{
    color:#70a172;
    text-decoration:underline;
}
section>h2{
    text-align: center;
    background-size:cover;
    margin:0;
    position:relative;
    border-bottom:2rem solid #ffffff;
    padding:23rem 0;
    font-size:3rem;
    background-position:center
}
section{
    background-color: #ffffff;
}
.landscapes>h2{
    background-image: url(images/land1.png);
}
.wildlife>h2{
    background-image: url(images/wildlife.png);
}
.subjectportrait>h2{
    background-image: url(images/portraits.png);
}
section span{
    position:absolute;
    top: 15rem;
    font-size: 2rem;
    left:48%;
    transform:rotate(180deg);
}
.accordion{
    cursor:pointer;
}
span.rotate{
    transform:rotate(0);
}
.gallery{
    display:none;
}
.gallery.show{
    display:block;
}
nav{
    font-size: small;
    margin-left:1rem;
    margin-bottom:0rem;
}
header h1{
    font-family: 'Prompt', sans-serif;
    display:inline-block;
}
p{
    font-size: larger;
    position:absolute;
    top: 28rem;
    padding: 2rem;
}
.info{
    position:absolute;
    top:35.5rem;
    background-color:rgb(218, 218, 199);
    width:100%;
    text-align: center;
}
.about>h3{
    position:absolute;
    top:25rem;
}
form{
    background-color: #92b688;
    padding: 2rem;
    text-align: center;
    font-family: 'Montserrat';
    position:absolute;
    top: 45rem;
}
form>label{
    display:block;
    width:25rem;
}
nav .gallery{
    position:absolute;
    top:26rem;
}
section>h3{
    font-family:'Prompt';
    font-size: x-large;
    padding:2rem;
}
br{
    padding:2rem;
}
img{
    width:15rem;
    margin:1rem;
    margin-left:2rem;
}
main{
    margin-top:8rem;
}
@media (min-width:455){
    nav{
        position:absolute;
        top:6rem;
        left:0.5rem;
        font-size: large;
    }
    .info{
        position:absolute;
        top:38rem;
        padding:2rem;
        background-color: rgb(218, 218, 199);
        width:100%;
        text-align: center;
        font-size: larger;
    }
    form{
        position:absolute;
        top:53rem;
        width:97%;
        display:flex;
    }
    header>img{
        width:7rem;
        height:7rem;
        position:absolute;
        top:-7rem;
        left:7rem;
    }
    .logo{
        position:absolute;
        top:-7rem;
        left:0rem;
    }
    .home{
        position:absolute;
        top:8rem;
        left:0.5rem;
    }
    main{
        margin-top:18rem;
    }
    img{
        width:50rem;
        margin:3rem;
        margin-left:20rem;
    }
    .about>h3{
        position:absolute;
        top:18rem;
    }
    p{
        position:absolute;
        top:22rem;
    }
}